name: Build Nothing Phone (1) UEFI

on:
  push:
    branches:
      - main
      - nothing-spacewar-dev 
  pull_request:
    branches:
      - main
  workflow_dispatch: 

env:
  WM_CI_BUILD: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        [span_0](start_span)uses: actions/checkout@v4[span_0](end_span)

      - name: Setup and Build UEFI
        # Hier habe ich ${{ inputs.target }} durch nothing-spacewar ersetzt
        run: |
          [span_1](start_span)bash scripts/ci_setup.sh[span_1](end_span)
          [span_2](start_span)./build_uefi.py -d nothing-spacewar[span_2](end_span)

      - name: Upload UEFI Artifact
        [span_3](start_span)uses: actions/upload-artifact@v4[span_3](end_span)
        with:
          name: uefi-nothing-spacewar
          path: Build/KodiakPkg/DEBUG_GCC5/FV/NOTHING_SPACEWAR_UEFI.fd 
          
          [span_4](start_span)compression-level: 9[span_4](end_span)
