name: Build Nothing Phone (1) UEFI

on:
  push:
    branches:
      - main
      - nothing-spacewar-dev
  workflow_dispatch:

env:
  WM_CI_BUILD: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build UEFI for nothing-spacewar
        run: |
          bash scripts/ci_setup.sh
          ./build_uefi.py -d nothing-spacewar

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: uefi-images-nothing-spacewar
          path: Build/*/ci_artifacts
          compression-level: 9
